#home {
    display: flex;
    min-height: calc(100vh - 105px);
    position: relative;
}

#cta {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

#cta .title {
    font-size: 60px;
    color: var(--first-blue);
    width: 100%;
    text-align: center;
    align-items: center;
}

#cta .title span {
    color: var(--first-yellow);
}

#cta .description {
    font-size: 19px;
    text-align: center;
    align-items: center;
}

.description span {
    color: #14213d;
}

#cta_buttons {
    justify-content: center;
    gap: 24px;
    align-items: center;
    width: 68%;
    margin: 0 auto;
}

#cta_buttons a {
    text-decoration: none;
    color: #e5e5e5;
    align-items: center;
    transition: color .3s ease;
}

#cta_buttons a:hover {
    color: #14213d;
}

.social-media-buttons {
    justify-content: center;
}

#phone_button {
    gap: 8px;
    align-items: center;
    background-color: var(--background-white-2);
    padding: 8px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    
}

#phone_button button {
    box-shadow: none;
}

/*#banner {
    display: flex;
    align-items: start;
    justify-content: end;
    width: 70%;
    z-index: 2;
}

#banner img {
    height: 100%;
    width: fit-content;
}

.shape {
    background-color: #EECD96;
    width: 50%;
    height: 100%;
    position: absolute;
    border-radius: 40% 40% 20% 40%;
    top: 0;
    right: 0;
    z-index: 1;
}*/

@media screen and (max-width: 1170px) {
    #home {
        padding-top: 0px;
    }

    #banner,
    #banner img,
    #home .shape {
        display: none;
    }

    #cta {
        width: 100%;
        text-align: center;
        align-items: center;
    }
}

@media screen and (max-width: 770px) {
    #home {
        padding-top: 0px;
    }

    #banner,
    #banner img,
    #home .shape {
        display: none;
    }

    #cta {
        width: 100%;
        text-align: center;
        align-items: center;
    }

    #cta .description {
        font-size: 22px;
    }

}

@media screen and (max-width: 590px) {
    #cta .title {
        font-size: 50px;
    }
}

@media screen and (max-width: 450px) {
    #phone_button button {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    #home .title {
        font-size: 3.20rem;
    }
}

@media screen and (max-width: 440px) {
    #home .title {
        font-size: 38px;
    }

    #cta .description {
        font-size: 17px;
    }

    #cta_buttons {
        width: 70%;
    }

    #cta_buttons a {
        font-size: 18px
    }
}

@media screen and (max-width: 390px) {
    #home .title {
        font-size: 34px;
    }

    #cta .description {
        font-size: 17px;
    }

    #cta_buttons {
        width: 70%;
    }

    #cta_buttons a {
        font-size: 18px
    }
}

@media screen and (max-width: 375px) {
    #home .title {
        font-size: 32px;
    }

    #cta .description {
        font-size: 17px;
    }

    #cta_buttons {
        width: 70%;
    }

    #cta_buttons a {
        font-size: 16px
    }
}

@media screen and (max-width: 360px) {
    #home .title {
        font-size: 30px;
    }

    #cta .description {
        font-size: 17px;
    }

    #cta_buttons {
        width: 70%;
    }

    #cta_buttons a {
        font-size: 16px
    }
    
}

@media screen and (max-width: 340px) {
    #cta .description {
        font-size: 17px;
    }

    #cta_buttons {
        width: 70%;
    }

    #cta_buttons a {
        font-size: 14px
    }
}

@media screen and (max-width: 320px) {
    #home .title {
        font-size: 28px;
    }

    #cta .description {
        font-size: 17px;
    }

    #cta_buttons {
        width: 70%;
    }

    #cta_buttons a {
        font-size: 14px
    }
}

@media screen and (max-width: 180px) {
    #home .title {
        font-size: 18px;
    }
}